@import '../../app.variables';

.read {
    background-color: $offLight;
}

.sender-name {
    text-transform: capitalize;
}

.issue-description {
    background: $offLight;
    color: $highlight;
}

md-icon {
    .first-initial {
        display: block;
        position: relative;
        top: -2px;

        text-align: center;
        font-size: 1.5em;
    }
}

md-card-avatar {
    .vector-icon {
        padding-left: 0.5em;
        &.twitter {
            fill: $primary;
        }
        &.internal {
            fill: $highlight;
        }
        &.email {
            fill: $offDark;
        }
    }
    .vector-text {
        display: block;
        text-align: center;
        font-size: 10px;
    }
}
